// bower:scss
// endbower
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    background: #ededed;
}

h2 {
    font-size: 1.4375rem;
}

.appArea {
    float: left;
    width: 100%;
    padding-bottom: 60px;
    background: white;
}

.count {
    color:green;
}

#gConnect, #disconnect {
    display: none;
}

#gConnect {
    padding-top: 7px;
    margin-right: 5px;

    * {
        height: 31px !important;
        width: 135px !important;
    }
}

header.appHeader, footer.appFooter {
    padding: 30px 0;
    text-align: center;
}

//tmp styles (g+ profile info)
#welcome {
    text-align: center;
}

#authOff, #authOn {
    display: none;
}

#visiblePeople, #profile {
    span {
        font-size: 13px;
    }

    img {
        margin-right: 10px;
        margin-top: 10px;
        //vertical-align: top;
        box-shadow: 2px 2px 7px 0 #aaa;
    }
}
